<!--head will be added from /partial/head file-->
<%- include('../../partial/head'); %>

    <body>
        <!--header will be added from /partial/header file-->
        <%- include('../../partial/header'); %>
            <div class="container-xl">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>Manage <b>Destinations</b></h2>
                                </div>
                                <div class="col-sm-6">
                                    <!--Refrencing add-destination page and making one button Add New destination-->
                                    <a href="/add-destination" class="btn btn-success"><i class="material-icons">&#xE147;</i>
                                        <span>Add New destination</span></a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <!--Labeling the eliments in the manage-destination page-->
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>Sightseeing</th>
                                </tr>
                            </thead>
                            <!--Rendering the data for each lable-->
                            <tbody>
                                <% data?.forEach(function(el) { %>
                                    <tr>
                                        <td>
                                            <%= el.id %>
                                        </td>
                                        <td>
                                            <%= el.city %>
                                        </td>
                                        <td>
                                            <%= el.country %>
                                        </td>
                                        <td>
                                            <%= el.sightseeing %>
                                        </td>
                                        <td>
                                            <!--Edit destination button-->
                                            <a href="/edit-destination/<%= el.id %>" class="edit"><i class="material-icons"
                                                    data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <!--Delete destination button-->
                                            <a href="/deletedestination/<%= el.id %>" class="delete"><i class="material-icons"
                                                    data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </body>
    <!--footer will be added from /partial/footer file-->
    <%- include('../../partial/footer'); %>

        </html>